body{
    background-color:greenyellow;
}

h1{
    font-family:sans-serif;
    text-align:center;
    font-size:50px;
    background-color:darkturquoise;
    padding:50px;
}

p{
    font-family:sans-serif;
    text-align:center;
    font-size:21px;
    margin-left:100px;
    margin-right:100px;
}

.logo{
    height:10%;
    width:10%;
}

.loginintro{
    margin-right:1000px;
    font-size:25px;
}

.RealLogin{
    float:right;
}

.container{
    display:grid;
    grid-template-columns:repeat(4,auto);
    text-align:center;
    font-family:sans-serif;
    font-size:25px;
}

.container:hover{
    background-color:darkgreen;
}

h2 {
    font-family:sans-serif;
}

.websitetable{
    display:grid;
    grid-template-columns:auto auto;
    justify-content:center;
    text-align:center;
    border:solid black thin;
    border-radius:10px;
}

@media screen and (max-width:1460px){
    .container{
        grid-template-columns:auto auto;
    }
    .loginintro{
        margin-right:auto;
        font-size:18px;
    }
    .RealLogin{
        height:50%;
        width:50%;
    }
    
}

.website{
    font-weight:bold;
    font-size:15px;
}

.description{
    font-family:sans-serif;
    font-size:20px;
}

li{
    font-family:sans-serif;
    font-size:17px;
}

.deck{
    height:30%;
    width:30%;
    float:right;
}